body {
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:0.85em;
}
.kwicksManager {
    list-style:none outside none;
    margin:0 50px;
    padding:0;
    position:relative;
}
.kwicksVendor {
    list-style:none outside none;
    margin:0 95px;
    padding:0;
    position:relative;
}
.kwicksAnon {
    list-style:none outside none;
    margin:0 185px;
    padding:0;
    position:relative;
}
.kwicks li {
    background-image:url("../img/kwicks_sprite.png");
    background-repeat:no-repeat;
    cursor:pointer;
    display:block;
    float:left;
    height:40px;
    margin-right:0;
    overflow:hidden;
    padding:0;
    width:90px;
}
.kwicks a {
    display:block;
    height:40px;
    outline:medium none;
    text-indent:-9999px;
}
#kwick1 {
    background-position:0 0;
}
#kwick2 {
    background-position:-140px 0;
}
#kwick3 {
    background-position:-280px 0;
}
#kwick4 {
    background-position:-420px 0;
}
#kwick5 {
    background-position:-560px 0;
}
#kwick6 {
    background-position:-700px 0;
}
#kwick7 {
    background-position:-840px 0;
}
#kwick8 {
    background-position:-980px 0;
}
#kwick9 {
    background-position:-1120px 0;
}
#kwick1.active, #kwick1:hover {
    background-position:0 bottom;
}
#kwick2.active, #kwick2:hover {
    background-position:-140px bottom;
}
#kwick3.active, #kwick3:hover {
    background-position:-280px bottom;
}
#kwick4.active, #kwick4:hover {
    background-position:-420px bottom;
}
#kwick5.active, #kwick5:hover {
    background-position:-560px bottom;
}
#kwick6.active, #kwick6:hover {
    background-position:-700px bottom;
}
#kwick7.active, #kwick7:hover {
    background-position:-840px bottom;
}
#kwick8.active, #kwick8:hover {
    background-position:-980px bottom;
}
#kwick9.active, #kwick9:hover {
    background-position:-1120px bottom;
}
#form_login form fieldset label {
    width:50px;
}
#form_login form fieldset {
    background:none repeat scroll 0 0 transparent;
    padding-left:26px;
    padding-top:6px;
    width:150px;
}
#form_login .submit {
    margin-left:47px;
    margin-top:-34px;
    width:50px;
}
#form_login input[type="submit"] {
    font-size:1em;
    padding:2px;
    width:54px;
}
#form_login form fieldset input {
    margin:0;
    padding:2px;
    width:100px;
}
form {
    clear:both;
    margin-right:20px;
    padding:0;
    width:95%;
}
fieldset {
    -moz-border-radius:8px 8px 8px 8px;
    background-color:#E0E0E0;
    margin:0 auto;
    padding:10px;
    width:700px;
}
fieldset legend {
    background:none repeat scroll 0 0 transparent;
    color:#0D213C;
    font-size:1.5em;
    font-weight:bold;
}
fieldset label {
    float:left;
    padding-right:10px;
    text-align:right;
    width:200px;
}
fieldset input {
    height:10px;
    width:300px;
}
fieldset fieldset {
    margin-bottom:20px;
    margin-top:0;
    padding:16px 10px;
}
fieldset fieldset legend {
    font-size:120%;
    font-weight:normal;
}
fieldset fieldset div {
    clear:left;
    margin:0 20px;
}
form div {
    clear:both;
    padding:0.5em;
    vertical-align:text-top;
}
form .input {
    color:#444444;
}
form .required {
    font-weight:bold;
}
form .required label:after {
    color:#EE3322;
    content:"*";
    display:inline;
}
form div.submit {
    border:0 none;
    clear:both;
    margin:0 auto;
    width:700px;
}
label {
    display:block;
    font-size:110%;
    margin-bottom:3px;
}
input, textarea {
    clear:both;
    font-family:"frutiger linotype","lucida grande","verdana",sans-serif;
    padding:1%;
    width:98%;
}
select {
    clear:both;
    vertical-align:text-bottom;
}
select[multiple="multiple"] {
    width:100%;
}
option {
    padding:0 3px;
}
input[type="checkbox"] {
    clear:left;
    float:left;
    margin:0 6px 7px 2px;
    width:auto;
}
div.checkbox label {
    display:inline;
}
input[type="radio"] {
    float:left;
    margin:0 3px 7px 0;
    width:auto;
}
div.radio label {
    margin:0 0 6px 20px;
}
input[type="submit"] {
    display:inline;
    font-size:110%;
    width:auto;
}
form .submit input[type="submit"] {
    -moz-border-radius:8px 8px 8px 8px;
    background:-moz-linear-gradient(center top , #466388, #0D213C) repeat scroll 0 0 #0D213C;
    border-color:#000066;
    color:#FFFFFF;
    cursor:pointer;
    text-shadow:0 1px 0 #BFBFBF;
}
form .submit input[type="submit"]:hover {
    background:-moz-linear-gradient(center top , #0D213C, #466388) repeat scroll 0 0 #466388;
    border-color:#000099;
}

.message {
    background:none repeat scroll 0 0 #EEEEEE;
    border:2px dashed orange;
    font-weight:bold;
    margin:0 auto;
    padding:10px;
    text-align:center;
    width:360px;
}

.paging{
    text-align: center;
}